*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
}
body {
  font-family: 'Open Sans';
  background-color: #e2e2e2;
}

a {
  color: #3b7cd8;
  text-decoration: none;
}

a:hover {
  color: #599eff;
}
.btn{
  display: inline-block;
  padding: 6px 20px;
  border-radius: 2px;
  border: 0;
  outline: none;
  text-decoration: none;
  margin-bottom: 10px;
}
.btn-primary{
  color: #fff;
  background-color: #2196F3;
}
.btn-primary:hover{
  color: #fff;
  background-color: #42A5F5;
}
.page {
  height: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  padding: 20px 30px 20px;
  background-color: #00a9af;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.header nav {
  display: inline-block;
  vertical-align: middle;
}

.header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.header nav li a {
  display: block;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
  transition: all ease 0.25s;
}

.header a:hover {
  color: #f2f2f2;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin-right: 30px;
}

.main {
  background: #fff;
  padding: 30px 30px 20px;
  height: 100%;
}

.footer {
  margin-top: auto;
  color: #fff;
  background-color: #004446;
  padding: 20px 30px;
}

.footer a {
  color: #fff;
}
