style.
  /* prevent FOUC */
  .muddle {
    opacity: 0;
  }

.flex-center-children.vh-1.padding-1
  #sample-card.card
    .close-button X
    #sample-button.button More info
    #sample-paragraph.muddle 
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia voluptatum id at laborum inventore ex non, magnam fugiat, consequatur fugit, vero quisquam qui fuga soluta ullam iure voluptatibus. Ab, nihil.
