@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
    min-width: 1865px;
}

/* .container-fluid {
    padding-left: 200px !important;
    padding-right: 200px !important;
} */

.islandsBox {
    width: 296px;
    height: 176px;
    background-color: #80b7b3;
    text-align: center;
    font-size: 68pt;
    color: white;
    font-family: 'Playfair Display', serif;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.islandsName {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 135pt;
    color: #e9ebec;
    margin-top: 80px;
    margin-bottom: 0;
}

.img1 {
    margin-left: 204px;
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 19px 10px rgba(34, 60, 80, 0.2);
}

.img2 {
    position: relative;
    z-index: 2;
    margin-top: 115px;
    box-shadow: 0px 0px 19px 10px rgba(34, 60, 80, 0.2);
}

.img3 {
    width: 840px;
    box-shadow: 0px 0px 19px 10px rgba(34, 60, 80, 0.2);
    margin-bottom: 40px;
}

.wideImg {
    margin-top: 100px;
    margin-bottom: 135px;
    width: 100%;
}

.img5 {
    box-shadow: 0px 0px 19px 10px rgba(34, 60, 80, 0.2);
    position: absolute;
    z-index: 1;
}

.bottomImg {
    position: absolute;
    max-width: 1903px;
}

.merch {
    padding-top: 80px;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
    width: 670px;
    height: 325px;
    background-color: rgba(39, 61, 70, 0.9);
    text-align: center;
}

.merch p {
    color: #d8dcdd;
    font-family: 'Poppins', sans-serif;
    font-size: 30pt;
}

.travelOne {
    text-align: left !important;
}

.travelTwo {
    text-align: center !important;
    margin-top: 190px;
}

.afterImg p {
    text-align: left;
    font-family: 'Playfair Display', serif !important;
    font-size: 24pt !important;
    margin-top: 60px;
}

.quoteText {
    margin-top: 45px;
    position: absolute;
    z-index: 1;
}

.whiteBlock {
    background-color: white;
    width: 1050px;
    height: 310px;
    box-shadow: 0px 0px 19px 10px rgba(34, 60, 80, 0.2);
    padding-top: 5%;
    margin-top: 280px;
    position: relative;
    z-index: 2;
    margin-bottom: 150px;
}

.contentWhiteBlock {
    width: 700px;
    margin: 0 auto;
}

.whiteBlock p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: black;
    width: 700px;
}

.whiteBlock button {
    margin-left: 35%;
}

.signature h3 {
    display: inline-block;
    margin-right: 15px;
}

.signName {
    color: #52646b !important;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 24pt;
    color: #687378;
    margin-bottom: 40px !important;
}

h2 {
    font-family: 'Playfair Display', serif !important;
    color: #273d46 !important;
    font-size: 36pt !important;
    margin-top: 34px !important;
    margin-bottom: 80px !important;
}

h3 {
    font-family: 'Poppins', sans-serif !important;
    text-transform: uppercase !important;
    font-size: 14pt !important;
    color: #7d8b90 !important;
    letter-spacing: 3pt;
}

button {
    font-family: 'Poppins', sans-serif !important;
    color: white;
    margin-top: 20px !important;
    width: 200px;
    height: 45px;
    background-color: #80b7b3;
    border: none;
    border-radius: 30px !important;
    box-shadow: 0px 0px 19px 10px rgba(34, 60, 80, 0.2);
    outline: none !important;
}

button:hover {
    background-color: #64a5a1;
    
}

button:active {
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 8px #000000;
}

